<header class="header">
  <h1 class="header-heading">HEADER</h1>
  <div class="header-logo">
    <ul class="header-logo-list">
      <li>
        <a href="" class="header-simply">simply <span class="header-chocolate">chocolate</span> </a>
      </li>
      <li>
        <svg class="header-logo-svg" width="21px" height="21px">
          <use href="/src/images/icons.svg#icon-chocolate"></use>
        </svg>
      </li>
    </ul>
    <ul class="header-nav">
      <li><a href="" class="header-link">Home</a></li>
      <li><a href="" class="header-link">how its made?</a></li>
      <li><a href="" class="header-link">Our products</a></li>
      <li><a href="" class="header-link">Top sellers</a></li>
      <li><a href="" class="header-link">Chocolate is loved</a></li>
    </ul>
    <ul class="header-media">
      <li>
        <!--/*instagram*/--><a href="https://www.instagram.com"
          ><svg class="header-logo-svg" width="20px" height="20px">
            <use href="/src/images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <!--/*twitter*/--><a href="https://twitter.com"
          ><svg class="header-logo-svg" width="20px" height="20px">
            <use href="/src/images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="header-icon-box">
      <button class="header-hamburger-button">
        <svg class="header-modal-hamburger" width="28px" height="28px">
          <use href="/src/images/icons.svg#icon-hamburger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
